*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
height: 95px;
}
nav{
display: flex;
justify-content: space-between;
height: 90px;
align-items: center;
max-width: 1140px;
margin: 0 auto;

}
.navigation-option{


}
.navigation-option ul{
display: flex;
list-style: none;

}
.navigation-option a{
text-decoration: none;
margin-left: 40px;
color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.navigation-logo{
display: flex;
gap: 10px;
}
.navigation-logo h1{
  text-align: center;
  font-family: Work Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
color: black;
}
.logo{

width: 81.041px;
height: 38px;

}
.gamer-g{
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.media-icon{
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding:5px 14px 5px 14px;
}

/* nav section end */
main{
max-width: 1140px;
margin: 0 auto;

}

.banner{
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid red;
background-color: #8C57EE0D, #F144AE0D;
}
.banner-text h3{
  color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.banner-text h1{
  text-align: center;
font-family: Work Sans;
font-size: 69px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-text p{
  color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
text-align: left;
}
.signup-btn{
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  color: #FFF;
  font-family: Work Sans;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
  padding: 9px 14px;
}
.go-rogue-btn{
  color: #FFF;
font-family: Work Sans;
font-size: 15px;
text-transform: uppercase;
border-radius: 48px;
background: #4EC5F7;
border: none;
margin-top: 30px;
padding: 9px 14px;
}

.banner1st-img{
width: 70%;
margin-left: 272px;
}



.facilites-container{
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  }
  
  .first-img img{
   width: 70%;
    
  }
  .facilities-container {
    display: flex;
    justify-content: space-between;
  }
  
  .facility-description {
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: right;
    padding-right: 60px;
  }
  
  .facility-picture {
    width: 50%;

  }
  .first-img img{
    width: 80%;
    margin-left: 115px;
  }
  .second-image{
position: relative;

  }
  .second-image img{
    width: 50%;
position: absolute;
top:-190px

  }
.play-instant{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.facility-description h1{
  color: #0B0223;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}

/*  */

.card p{
  color: #534C64;
  padding-top: 10px;
}
.card-section h1{
  color: #0B0223;
  text-align:center;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 250px;

}
.card-section p{
  color: #534C64;
  text-align: center;
  font-family: Work Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

}
.card-color{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.card-photo {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
}

.img-container {
  position: relative;
 
}

.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease;
  border: 3px solid #FF42A5;
  border-radius: 10px;
}

.img-container:hover .overlay {
  opacity: 1;
}

.img-container .fa-regular fa-circle-play play-icon {
  width: 60px;
  height: 60px;
  background-color: #fff;

  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

.img-container .fa-regular fa-circle-play play-icon:before,
.img-container .fa-regular fa-circle-play play-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container .fa-regular fa-circle-play play-icon:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #000;
}

.img-container .fa-regular fa-circle-play play-icon:after {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:white;
}

.card p {
  color: #534C64;
  padding-top: 10px;
}

.img-container .overlay p {
  color: #FF42A5;
  font-size: 16px;
}
.img-container .overlay .play-icon {
  font-size: 40px;
  color: #fff;
}
.img-container .overlay .fa-regular fa-circle-play play-icon,
.img-container .overlay p {
  opacity: 0;
  
}

.img-container:hover .overlay .fa-regular fa-circle-play play-icon,
.img-container:hover .overlay p {
  opacity: 1;
}































































/* footer section */

.footer-section{
margin-top: 300px;
padding-top: 40px;
height: 400px;
background: #0B0223;
text-align: center;
}
.footer-details{
  color: #FFF;
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
display: flex;
justify-content: center;
gap: 45px;
padding: 34px;
}

.footer-security{
  color: rgba(255, 255, 255, 0.60);

font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.icon{
  display: flex;
  justify-content: center;
gap: 40px;
font-size: 40px;
padding-bottom: 34px;
}
.footer-security{
display: flex;
justify-content: center;
gap:50px;
color: rgba(255, 255, 255, 0.60);
}
.copyright{
  color: rgba(255, 255, 255, 0.60);
padding-top: 40px;
}
.footer-logo h1{
color: white;
}
.footer-logo{
  display: flex;
  justify-content: center;
  gap: 14px;
}




















































/* mobile responsive section */

@media screen and (max-width:576px){
  header{
    height: 0;
  }
  nav{
flex-direction: column;
margin-top:60px ;
height: 0;

  }
  .navigation-option ul{
flex-direction: column;
justify-content: center;
align-items: center;
gap:30px;
margin-top: 40px;

  }
  .logo{
    width: 51.041px;
    }

    .navigation-logo h1{
      font-size: 30px;
  
    }
.banner{
flex-direction:column;
flex-direction: column-reverse;
margin-top: 240px;

}

.banner1st-img{
  width: 70%;
  align-items: center;
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  }
  .banner-text h1{
font-size: 47px;
  }
.banner-text h3{
font-size: 20px;
}
.banner-text p{
padding-top: 10px;
}
/* banner section end */
.facilites-container {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.first-img img {
  width: 100%;
}

.facilities-container {
  display: flex;
  justify-content: space-between;
}

.facility-description {
  width: 100%;
  text-align: center;
  padding-right: 0;
}

.facility-picture {
  width: 100%;
}

.first-img img {
  width: 65%;
  display: block;
  margin: 0 100px;
}

.second-image {
  position: relative;
}

.second-image img {
  width: 34%;
  position:absolute;
  margin-left: 33px;
  top:-120px;
}


.facility-description h1 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.facility-description p{

  font-size: 10px;
  padding-bottom: 50px;
}


.card-photo {
  flex-direction: column;
  gap: 10px;
}

.card {
  margin-bottom: 10px;
}
.card p{
margin-top: -70px;

}
.img-container {
  height: auto;
  aspect-ratio: 1/1;
}
.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 82%;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease;
  border: 3px solid #FF42A5;
  border-radius: 10px;
  margin-left: 64px;

}


.img-container .overlay {
  border-width: 2px;
  border-radius: 8px;
}

.img-container .play-icon {
  width: 40px;
  height: 40px;
}

.img-container .play-icon:before {
  border-width: 8px 0 8px 15px;
}

.img-container .play-icon:after {
  width: 20px;
  height: 20px;
}

.img-container .overlay p {
  font-size: 14px;
padding-top: 80px;
}


.img-container img {
  max-width: 100%;
  width: 70%;
  display: block;
  margin: 0 auto;
}
.card-section h1{
  color: #0B0223;
  text-align:center;
  font-family: Work Sans;
  font-size: 27px;

}
.card-section p{
  color: #534C64;
  text-align: center;
  font-family: Work Sans;
  font-size: 9px;
  
}
























/* footer sectrion */


  .footer-section {
    height: auto;
  }

  .footer-details {
    padding: 27px 0;
    display: grid;
    grid-template-columns: repeat(3,70px);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  justify-content: center;
  gap: 10px;
 
  }
  .footer-logo img{
width: 20px;
height: 20px;

  }
  .footer-logo h1{
  font-size: 23px; 
  }

  .icon {
    font-size: 25px;
    padding: 16px 16px;
    gap: 27px;
  }

  .footer-security {
    display: grid;
    grid-template-columns: repeat(2,90px);
    font-size: 10px;
    padding: 10px 6px;
    gap: 20px;
  }

  .copyright {
    padding: 16px 10px;
    font-size: 8px;
  display: grid;
 grid-template-columns: repeat(2,110px);
 justify-content: center;
 align-items: center;
 padding-left: 150px;
 padding-bottom: 30px;
}

  
}




































/* tablet responsibe section */


@media screen and (min-width:577px)and (max-width:960px){










  














 

